:host ::ng-deep {
  .edit-dialog {
    width: 500px;

    &__header {
      margin: 0;
    }

    .p-dialog-content {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}

.field {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__label {
    font-weight: 600;
    font-size: 15px;
  }
}

.save-button {
  display: flex;
  justify-content: end;
}
