:host {
  padding: 16px;
  display: grid;
  grid-template-columns: 148px auto;
  grid-template-rows: auto 1px auto;
  grid-template-areas:
    'header header'
    'divider divider'
    'sidebar content';
  gap: 16px 32px;

  ::ng-deep .p-tabpanels {
    height: calc(100vh - 152px);
    overflow: auto;
  }
}

.p-divider-horizontal,
.p-divider-vertical {
  margin: 0;
}

.p-divider-horizontal {
  width: 100%;
}

.p-divider-vertical {
  width: 1px;
}

header {
  grid-area: header;
}

.divider {
  grid-area: divider;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;

  .form-column,
  .code-column {
    max-height: calc(100vh - 100px);
    overflow: auto;
  }
}

/* Responsive adjustments */
@media (min-width: 992px) {
  .content {
    display: grid;
    grid-template-columns: auto 1px auto;
    gap: 32px;
  }
}
