<header>
  <app-header [title]="title" [isMobile]="isMobile()" (openSidebar)="toggleSidebar(true)"></app-header>
</header>

<div class="divider">
  <p-divider></p-divider>
</div>

@if (isSidebarOpen()) {
  <div class="sidebar">
    <app-input-selector
      [isMobile]="isMobile()"
      (inputSelected)="onInputSelected($event)"
      (close)="toggleSidebar(false)"
    ></app-input-selector>
  </div>
}

<div class="content">
  @if (isMobile() && (typescriptCode() || htmlCode())) {
    <p-tabs value="0">
      <p-tablist>
        <p-tab value="0">Form</p-tab>
        <p-tab value="1">Code</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <app-form-builder
            [addedFieldType]="fieldTypeSelected"
            [isMobile]="isMobile()"
            (change)="onFormChange($event)"
          ></app-form-builder>
        </p-tabpanel>
        <p-tabpanel value="1">
          <app-generated-code [typescriptCode]="typescriptCode()" [htmlCode]="htmlCode()"></app-generated-code>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  } @else {
    <div class="form-column">
      <h2>Form</h2>
      <app-form-builder
        [addedFieldType]="fieldTypeSelected"
        [isMobile]="isMobile()"
        (change)="onFormChange($event)"
      ></app-form-builder>
    </div>

    @if (typescriptCode() || htmlCode()) {
      <p-divider layout="vertical" />
      <div class="code-column">
        <h2>Code</h2>
        <app-generated-code [typescriptCode]="typescriptCode()" [htmlCode]="htmlCode()"></app-generated-code>
      </div>
    }
  }
</div>
