:host {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;

  ::ng-deep {
    .input-button {
      width: 100%;
      justify-content: start;
      padding: 12px;
      gap: 12px;
    }
  }
}
