:host {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;

  ::ng-deep {
    .input-button {
      width: 100%;
      justify-content: start;
      padding: 12px;
      gap: 12px;
    }
  }
}

.close-btn {
  align-self: end;
}

@media (min-width: 992px) {
  :host {
    padding: 0;
  }
}
