<fa-icon [icon]="faGripVertical" class="grip-handle"></fa-icon>

<div class="field" [formGroup]="formGroup">
  <div class="field__header">
    <label [for]="field.id" class="field__header__label">{{ field.label }}</label>
    <p-button size="small" variant="text" styleClass="field__header__action" (click)="openEditDialog.emit()">
      <fa-icon [icon]="faPencil" size="sm"></fa-icon>
    </p-button>
    <p-button size="small" variant="text" styleClass="field__header__action" (click)="delete.emit()">
      <fa-icon [icon]="faTrash" size="sm"></fa-icon>
    </p-button>
    @if (isInGroup()) {
      <p-button size="small" variant="text" styleClass="field__header__action" (click)="ungroup.emit()">
        <fa-icon [icon]="faLinkSlash" size="sm"></fa-icon>
      </p-button>
    }
  </div>

  <!-- Text-based inputs -->
  <input
    *ngIf="field.type === InputType.TEXT || field.type === InputType.EMAIL"
    pInputText
    [id]="field.id"
    [type]="field.type"
    [formControlName]="field.id"
    lass="field"
  />

  <!-- Number input -->
  <p-inputNumber
    *ngIf="field.type === InputType.NUMBER"
    [inputId]="field.id"
    [formControlName]="field.id"
    inputStyleClass="w-full"
    styleClass="field"
  ></p-inputNumber>

  <!-- Single select dropdown -->
  <p-select
    *ngIf="field.type === InputType.RADIO"
    [inputId]="field.id"
    [formControlName]="field.id"
    [options]="field.options ?? []"
    optionLabel=""
    class="w-full"
    styleClass="field"
  ></p-select>

  <!-- Multi-select dropdown -->
  <p-multiSelect
    *ngIf="field.type === InputType.CHECKBOX"
    [inputId]="field.id"
    [formControlName]="field.id"
    [options]="field.options ?? []"
    class="w-full"
    styleClass="field"
  ></p-multiSelect>

  <!-- Text area -->
  <textarea
    *ngIf="field.type === InputType.TEXTAREA"
    [formControlName]="field.id"
    rows="5"
    cols="30"
    pTextarea
    styleClass="field"
  ></textarea>

  <!-- Date -->
  <p-datepicker *ngIf="field.type === InputType.DATE" [formControlName]="field.id" styleClass="field" />

  <!-- Password -->
  <p-password *ngIf="field.type === InputType.PASSWORD" [formControlName]="field.id" styleClass="field" />

  <!-- Error message -->
  <small *ngIf="showError()" class="p-error">This field is required.</small>
</div>
