<fa-icon [icon]="faGripVertical" class="grip-handle"></fa-icon>

<div class="field" [formGroup]="formGroup">
  <div class="field__header">
    <label [for]="field().id" class="field__header__label">{{ field().label }}</label>

    <p-button size="small" variant="text" styleClass="field__header__action" (click)="openEditDialog.emit()">
      <fa-icon [icon]="faPencil" size="sm"></fa-icon>
    </p-button>
    <p-button size="small" variant="text" styleClass="field__header__action" (click)="delete.emit()">
      <fa-icon [icon]="faTrash" size="sm"></fa-icon>
    </p-button>

    @if (isInGroup()) {
      <p-button size="small" variant="text" styleClass="field__header__action" (click)="ungroup.emit()">
        <fa-icon [icon]="faLinkSlash" size="sm"></fa-icon>
      </p-button>
    }
  </div>

  @switch (field().type) {
    @case (InputType.TEXT) {
      <input pInputText [id]="field().id" [type]="field().type" [formControlName]="field().id" />
    }

    @case (InputType.NUMBER) {
      <p-inputNumber [inputId]="field().id" [formControlName]="field().id" styleClass="input"></p-inputNumber>
    }

    @case (InputType.RADIO) {
      <div class="field--with-options">
        @for (option of field().options ?? []; track option.value) {
          <div class="field__item">
            <p-radioButton
              [inputId]="`radio_${field().id}_${option.value}`"
              [formControlName]="field().id"
              [value]="option.value"
            ></p-radioButton>
            <label [for]="`radio_${field().id}_${option.value}`">{{ option.label }}</label>
          </div>
        } @empty {
          <span class="field__information">Add children by editing the field.</span>
        }
      </div>
    }

    @case (InputType.CHECKBOX) {
      <div class="field--with-options">
        @for (option of field().options ?? []; track option.value) {
          <div class="field__item">
            <p-checkbox
              [inputId]="`checkbox_${field().id}_${option.value}`"
              [formControlName]="field().id"
              [binary]="true"
              [value]="option.value"
            ></p-checkbox>
            <label [for]="`checkbox_${field().id}_${option.value}`">{{ option.label }}</label>
          </div>
        } @empty {
          <span class="field__information">Add children by editing the field.</span>
        }
      </div>
    }

    @case (InputType.TEXTAREA) {
      <textarea [formControlName]="field().id" rows="5" cols="30" pTextarea></textarea>
    }

    @case (InputType.DATE) {
      <p-datepicker [formControlName]="field().id" />
    }

    @case (InputType.PASSWORD) {
      <p-password [formControlName]="field().id"></p-password>
    }
  }

  @if (showError()) {
    <small class="p-error">This field is required.</small>
  }
</div>
