<!-- Reusable templates -->
<h2>Form</h2>
@if (formDefinition.children && formDefinition.children.length > 0) {
  <div class="fields" [formGroup]="form">
    @for (element of formDefinition.children; track element.id; let i = $index) {
      <ng-container *ngTemplateOutlet="renderElement; context: { $implicit: element, index: i }"></ng-container>
    }
  </div>
} @else {
  <div class="instruction">
    <h2>Build your form</h2>
    <p>Add fields from the left to build your form.</p>
  </div>
}

@if (isEditDialogVisible) {
  <app-field-edit-dialog
    [element]="editedElement()!"
    [isVisible]="isEditDialogVisible"
    (close)="onClose()"
    (update)="onElementUpdate($event)"
  ></app-field-edit-dialog>
}

<ng-template #renderElement let-element let-index="index" let-parentGroup="parentGroup" let-group="group">
  <div class="field-divider" (onDrop)="onDropDivider(index, parentGroup)" pDroppable></div>

  <!-- GROUP: Not draggable, but droppable -->
  @if (isGroup(element)) {
    <div class="field-wrapper field-wrapper--group" pDroppable (onDrop)="onDropField(index)">
      <div class="group" *ngIf="getFormGroup(element) as group">
        <div class="group__header">
          <h3 class="group__header__title">{{ element.label }}</h3>
          <div class="group__header__actions">
            <p-button variant="text" size="small" (click)="onOpenFieldEditDialog(element)">
              <fa-icon [icon]="faPencil" size="sm"></fa-icon>
            </p-button>
            <p-button variant="text" size="small" (click)="onFormElementDelete(element)">
              <fa-icon [icon]="faTrash" size="sm"></fa-icon>
            </p-button>
            <p-button variant="text" size="small" (click)="onUngroupGroup(element)">
              <fa-icon [icon]="faLinkSlash" size="sm"></fa-icon>
            </p-button>
          </div>
        </div>

        <div class="group__fields">
          @for (child of element.children; track child.id; let j = $index) {
            <ng-container
              *ngTemplateOutlet="
                renderElement;
                context: { $implicit: child, index: j, parentGroup: element, group: group }
              "
            ></ng-container>
          }
        </div>
      </div>
    </div>
  }

  <!-- FIELD: Top-level (droppable + draggable) -->
  @else if (!parentGroup) {
    <div class="field-wrapper" pDroppable pDraggable (onDrop)="onDropField(index)" (onDragStart)="onDragStart(element)">
      <app-form-input
        [field]="element"
        [formGroup]="form"
        [isInGroup]="false"
        (openEditDialog)="onOpenFieldEditDialog(element)"
        (delete)="onFormElementDelete(element)"
      ></app-form-input>
    </div>
  }

  <!-- FIELD: Nested inside a group (draggable only) -->
  @else {
    <div class="field-wrapper" pDraggable (onDragStart)="onDragStart(element)">
      <app-form-input
        [field]="element"
        [formGroup]="group"
        [isInGroup]="true"
        (openEditDialog)="onOpenFieldEditDialog(element)"
        (delete)="onFormElementDelete(element, parentGroup)"
        (ungroup)="onFieldUngroup(element, parentGroup)"
      ></app-form-input>
    </div>
  }
</ng-template>
