.fields {
  display: flex;
  flex-direction: column;
  // gap: 16px;
  height: calc(100vh - 170px);
  overflow: auto;
  width: 100%;
}

.instruction {
  border-radius: 16px;
  border: 4px dashed #ddd;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 24px;
}

.field-wrapper {
  border: 1px dashed transparent;
  transition: border 0.2s ease;
  padding: 8px;
  border-radius: 8px;

  &--group {
    border: 1px dashed #aaa;
    padding: 16px 12px 8px;
    margin: 4px 0;
  }
}

.field-wrapper.p-draggable-enter {
  border-color: #007ad9;
  background-color: #f0f8ff;
}

.field-divider {
  height: 4px;
  width: 100%;
  border-radius: 2px;
  &.p-draggable-enter {
    background-color: #007ad9;
  }
}

.group {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
      font-size: 17px;
      font-weight: 600;
      margin: 0;
      margin-left: 8px;
    }

    &__actions {
    }
  }
}
