<app-input-selector (inputSelected)="onInputSelected($event)"></app-input-selector>

@if (isMobile()) {
  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">Form</p-tab>
      <p-tab value="1">Code</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <ng-container *ngTemplateOutlet="formContent"></ng-container>
      </p-tabpanel>
      <p-tabpanel value="1">
        <ng-container *ngTemplateOutlet="codeContent"></ng-container>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
} @else {
  <div class="form-column">
    <ng-container *ngTemplateOutlet="formContent"></ng-container>
  </div>
  <div class="code-column">
    <ng-container *ngTemplateOutlet="codeContent"></ng-container>
  </div>
}

@if (isEditDialogVisible) {
  <app-field-edit-dialog
    [field]="editedField()!"
    [isVisible]="isEditDialogVisible"
    (close)="onClose()"
    (fieldChanged)="onFieldChanged($event)"
  ></app-field-edit-dialog>
}

<!-- Reusable templates -->
<ng-template #formContent>
  <h2>Form</h2>
  @if (formModel.fields.length > 0) {
    <div class="fields">
      @for (field of formModel.fields; track field.id) {
        <app-form-input
          [field]="field"
          [form]="form"
          (openEditDialog)="onOpenFieldEditDialog(field)"
          (delete)="onFieldDelete(field)"
        ></app-form-input>
      }
    </div>
  } @else {
    <div class="instruction">
      <h2>Build your form</h2>
      <p>Add fields from the left to build your form.</p>
    </div>
  }
</ng-template>

<ng-template #codeContent>
  <h2>Code</h2>
  <pre class="generated-code"
    >{{ formModel | json }}
  </pre>
</ng-template>
